modules = ["nodejs-22", "python-3.11", "postgresql-16"]

[agent]
stack = "AGENT_STACK"
integrations = ["agentstack-trigger-telegram:1.0.0"]

[nix]
channel = "stable-24_11"
packages = ["jq", "openssl", "postgresql", "docker"]

[deployment]
build = ["bash", "scripts/build.sh"]
run = ["sh", "-c", "cd .mastra/output && NODE_ENV=production node index.mjs"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 8289

[[ports]]
localPort = 50052

[[ports]]
localPort = 50053

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start inngest server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python telegram_bot.py"

[workflows.workflow.metadata]
outputType = "automations"

[[workflows.workflow]]
name = ""
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python telegram_bot.py"

[workflows.workflow.metadata]
outputType = "automations"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 46818261

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python telegram_bot.py"
